  
  * {box-sizing: border-box;}

  body {
    margin: 0;
    font-family: Montserrat;
  }
  .search_btn p{
    margin: 0;
  }
  .search_btn p{
    margin: 0;
  }
  p{
    font-family: Montserrat;
  }
  a{
    font-family: Montserrat;
  }
  
  #logo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
  }
  .headerElements{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
  }
  .topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color:  rgba(61,89,193,1);
    color: white;
  }
  
  .topnav a.active {
    color: white;
  }
  
  .topnav .search-container {
    float: left;
    width: 50%;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background-color: rgba(141,163,231,1);
    border-style: solid;
    border-radius: 12px;
    border-color: white;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .topnav .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }

  #loginHeader{
    float: right;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }