<!DOCTYPE html>
<html>
    <head>
    <link href="/quest_style.css" type="text/css" rel="stylesheet" />
    <link href="/navi.css" type="text/css" rel="stylesheet" />
    <link href="/dogInfo_style.css" type="text/css" rel="stylesheet" />
    <script src="/functions.js"></script>
    <title>Meine Webanwendung</title>
    </head>
<body onload="anzeigen()">


  <!-- Navigations Bar -->
  <div class="topnav">
    <a id='logo' class="active" href="home">PAWPAL</a>
    <a class="headerElements" href="#about">Hunderassen</a>
   
    <!-- <a id="loginHeader" class="headerElements" href="#contact">Login|Sign Up</a> -->
  
  </div>

  <div class="grid-container">
    <!-- Titel Überschrift -->
    <div class="item1">
      <div class="center_container">
        <p> PAWPAL</p>
      </div>
    </div>
    <!-- Text -->
    <div class="item2">

 
    <!-- Question 7  -->

    <div class="question_block" id="question7" >
      <h1 id="Dog Name">
        Name Hund
      </h1>
      <div class="pictures_block">
        <img class="imgbeagle" style="width: 150px; float: left;" src="/undraw_dog_c7i6.svg" alt="bild Hund">
        <div id="Text Block" style="width: 50%;">
          <div class="info_block">
            <p class="info_block_Stats">Größe:</p><p class="data_info" id="datadog_sice">12-34 cm</p>
          </div>
          <div class="info_block">
            <p class="info_block_Stats">Höhe:</p> <p  class="data_info" id="datadog_hight">12-34 cm</p>
          </div>
          <div class="info_block">
            <p class="info_block_Stats">Gewicht:</p> <p  class="data_info" id="datadog_weight">12-34 kg</p>
          </div>
          <div class="info_block">
            <p class="info_block_Stats">Lebenserwartung:</p> <p  class="data_info" id="datadog_lives">12-34 Jahre</p>
          </div>
          <div class="info_block">
            <p class="info_block_Stats">Felltyp:</p><p class="data_info" id="datadog_furtyp">Haar</p>
          </div>
        </div>
      </div>
      <div id="datadog_describtionBlock">
        <p id="data_description_Text">Akita gehört zu den beliebtesten und bekanntesten Hunderassen Japans. In seiner Heimat wurde er ursprünglich als zuverlässiger Jagdhund eingesetzt.
           Er steht heute symbolisch für Loyalität und Treue. Aufgrund seines Aussehens gehört er zu den Hunderassen mit den meisten Ähnlichkeiten zum Wolf.</p>
      </div> 
  </div>
  </div>
  <div class="item3">
    <p>2023 |<a id="impressum_btn" href="impressum"> Impressum</a> | Terms of Service | Privacy Policy</p>
  </div>
</body>
</html>
