<!DOCTYPE html>
<html>
    <head>
    <link href="/color.css" type="text/css" rel="stylesheet" />
    <link href="/navi.css" type="text/css" rel="stylesheet" />
    <title>Meine Webanwendung</title>
    </head>
<body>
<!-- Navigations Bar -->
  <div class="topnav">
    <a id='logo' class="active" href="home">PAWPAL</a>
    <a class="headerElements" href="overview">Hunderassen</a>
    
     <!-- <a id="loginHeader" class="headerElements" href="#contact">Login|Sign Up</a> -->
  
  </div>

  <div class="grid-container">
    <!-- Titel Überschrift -->
    <div class="item1">
      <div class="center_container">
        <p id="title1"> TAKE THE QUIZ</p>
        <p id="title2"> and find your</p>
        <p id="title3"> PAWPAL!</p>
      </div></div>
    <!-- Text -->
    <div class="item2">
      <p>Hast du dich Hast du dich jemals gefragt,</p>
      <p>welcher Hund perfekt zu deinen Bedürfnissen</p>
      <p>und Wünschen passt?</p>
      <p>Basierend auf deiner bevorzugten Größe, Gewicht,</p>
      <p>Freundlichkeit, Talente, Intelligenz, Trainierbarkeit und mehr,</p>
      <p></p>
      </br>
      <p>PAWPAL findet die Hunderasse, die am besten zu dir passt.</p>
      </p>
    </div>
    <!-- Beagel Picture -->
    <div class="item5">
      <img class="imgbeagle" src="/beagle_rechts.png" alt="Beagle bild">
    </div>
     <!-- Button -->
    <div class="item4">
      <button class="button button1" onclick="location.href = '/question1';">Quiz starten</button>
    
    </div>
    <div class="item3">
      <p>2023 |<a id="impressum_btn" href="impressum"> Impressum</a> 
   
  </div>



</body>
</html>
