<!DOCTYPE html>
<html>
    <head>
    <link href="/quest_style.css" type="text/css" rel="stylesheet" />
    <link href="/navi.css" type="text/css" rel="stylesheet" />
    <script src="/functions.js"></script>
    <title>Meine Webanwendung</title>
    </head>
<body>


  <!-- Navigations Bar -->
  <div class="topnav">
    <a id='logo' class="active" href="home">PAWPAL</a>
    <a href="#about">Overview Dog Breeds</a>
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
      </form>
    </div>
    <a href="#contact">Login|Sign Up</a>
   
  </div>

  <div class="grid-container">
    <!-- Titel Überschrift -->
    <div class="item1">
      <div class="center_container">
        <p> PAWPAL</p>
      </div>
    </div>
    <!-- Text -->
    <div class="item2">
        <a id="back_btn" href="home">Go Back</a>
        <div id="question_block">
            <p>
                Das könnte eine Frage sein ?
            </p>
            <img class="imgbeagle" src="/beagle_rechts.png" alt="Beagle bild">
            <div class="button-bar">
              <div class="line"></div>
              <div class="background-line"></div>
              <button style='float: left;'id="button1" onclick="changeColor(1)"></button>
              <button style='margin-right: auto; margin-left: auto;' id="button2" onclick="changeColor(2)"></button>
              <button style='float: right;' id="button3" onclick="changeColor(3)"></button>
           
            </div>
            
            <form id="" action="">
                
                <input type="radio" id="j" name="option" value="ja" >
                <input type="radio" id="n" name="option" value="nein">
                <input type="radio" id="v" name="option" value="vlt?">
            </form>
            <button class="button button1" onclick="speichernAntwort1()">Nächste Frage</button>
            <p id="demo"></p>
        </div>
      
    </div>
    <div class="item3">
      <p>2023 |<a id="impressum_btn" href="impressum"> Impressum</a> | Terms of Service | Privacy Policy</p>
    </div>
   
  </div>



</body>
</html>
