<!DOCTYPE html>
<html>
    <head>
    <link href="/quest_style.css" type="text/css" rel="stylesheet" />
    <link href="/navi.css" type="text/css" rel="stylesheet" />
    <script src="/functions.js"></script>
    <title>Meine Webanwendung</title>
    </head>
<body>


  <!-- Navigations Bar -->
  <div class="topnav">
    <a id='logo' class="active" href="home">PAWPAL</a>
    <a class="headerElements" href="overview">Hunderassen</a>
   
    <!-- <a id="loginHeader" class="headerElements" href="#contact">Login|Sign Up</a> -->
  
  </div>

  <div class="grid-container">
    <!-- Titel Überschrift -->
    <div class="item1">
      <div class="center_container">
        <p> PAWPAL</p>
      </div>
      <a id="back_btn" href="/question3">Zurück</a>
    </div>
    <!-- Text -->
    <div class="item2">
       
 

     <!-- Question 4 -->

     <div class="question_block" id="question4" >
        <p id="question_Text">
          Sollte der Hund familienfreundlich sein?
        </p>
        <div class="pictures_block">
          <button class ="img_button" id="button1" onclick="imgcolor(this);auswahlSpeichern('friendly','1');" name="option" >
            <img class="imgbeagle" style="width: 150px; float: left;" src="/undraw_play_time_-7-k7b.svg" alt="klein bild">
          </button>
          <button class ="img_button" id="button2" onclick="imgcolor(this);auswahlSpeichern('friendly','0');" name="option" >
            <img class="imgbeagle" style="width: 150px; float: right;" src="/NoKids.svg" alt="groß bild">
          </button>
         
        </div>
        
        
        <button id="button_nextquestion" style="display: none;"  onclick="location.href = '/question5';">Nächste Frage</button>
       </div>
  </div>
  <div class="item3">
    <p>2023 |<a id="impressum_btn" href="impressum"> Impressum</a></p>
  </div>


</body>
</html>
