<!DOCTYPE html>
<html>
    <head>
    <link href="/quest_style.css" type="text/css" rel="stylesheet" />
    <link href="/navi.css" type="text/css" rel="stylesheet" />
    <script src="/functions.js"></script>
    <title>Meine Webanwendung</title>
    </head>
<body>


  <!-- Navigations Bar -->
  <div class="topnav">
    <a id='logo' class="active" href="home">PAWPAL</a>
    <a class="headerElements" href="overview">Overview Dog Breeds</a>
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
      </form>
    </div>
    <a id="loginHeader" class="headerElements" href="#contact">Login|Sign Up</a>
  
  </div>

  <div class="grid-container">
    <!-- Titel Überschrift -->
    <div class="item1">
      <div class="center_container">
        <p> PAWPAL</p>
      </div>
    </div>
    <!-- Text -->
    <div class="item2">
        <a id="back_btn" href="/question6">Go Back</a>
 
    <!-- Question 7  -->

    <div class="question_block" id="question7" >
      <p id="question_Text">
        How much time can you invest to train your dog?
      </p>
      <div class="pictures_block">
        <img class="imgbeagle" style="width: 150px; float: left;" src="/undraw_bus_stop_re_h8ej.svg" alt="klein bild">
      </div>
      <div class="button-bar">

        <button style='float: left;'id="button1" onclick="changeColor(1);auswahlSpeichern('trainierbar','25');" name="option" ></button>
      
        <button style='margin-right: auto; margin-left: auto;' id="button2" onclick="changeColor(2); auswahlSpeichern('trainierbar','50');" name="option" ></button>
     
        <button style='float: right;' id="button3" onclick="changeColor(3); auswahlSpeichern('trainierbar','75');" name="option"></button>

        <div class="line"></div>
        <div class="background-line"></div>
     
      </div>
      <div class="ButtonText-Bar">
        <p>litte</p>
        <p>a bit</p>
        <p>a lot</p>
      </div>
      <button id="button_nextquestion" style="display: none;"  onclick="location.href = '/result';">Next</button>
      <p id="demo"></p>
  </div>
  </div>
  <div class="item3">
    <p>2023 |<a id="impressum_btn" href="impressum"> Impressum</a> | Terms of Service | Privacy Policy</p>
  </div>


</body>
</html>
