<!DOCTYPE html>
<html>
    <head>
    <link href="/quest_style.css" type="text/css" rel="stylesheet" />
    <link href="/navi.css" type="text/css" rel="stylesheet" />
    <script src="/functions.js"></script>
    <title>Meine Webanwendung</title>
    </head>
<body>


  <!-- Navigations Bar -->
  <div class="topnav">
    <a id='logo' class="active" href="home">PAWPAL</a>
    <a class="headerElements" href="overview">Hunderassen</a>
   
   <!-- <a id="loginHeader" class="headerElements" href="#contact">Login|Sign Up</a> -->
  
  </div>

  <div class="grid-container">
    <!-- Titel Überschrift -->
    <div class="item1">
      <div class="center_container">
        <p> PAWPAL</p>
      </div>
      <a id="back_btn" href="/question1">Zurück</a>
    </div>
  
    <!-- Text -->
    <div class="item2">
        

        <!-- Question 2 -->

        <div class="question_block" id="question2">
          <p id="question_Text">
            Lebst du in einem Haus oder einer Wohnung?
          </p>
          <div class="pictures_block">

              <button class ="img_button" id="button1" onclick="imgcolor(this);auswahlSpeichern('house','1');" name="option" >
                <img class="imgbeagle" style="width: 150px; float: right;" src="/undraw_sweet_home_dkhr.svg" alt="groß bild">
              </button>
           
              <button class ="img_button" id="button2" onclick="imgcolor(this); auswahlSpeichern('house','0');" name="option">
                <img class="imgbeagle" style="width: 150px; float: left;" src="/undraw_apartment_rent_o-0-ut.svg" alt="Apartment bild">
              </button>    
          </div>
 
          <button id="button_nextquestion" style="display: none;" onclick="location.href = '/question3';">Next</button>
         </div>

  </div>
  <div class="item3">
    <p>2023 |<a id="impressum_btn" href="impressum"> Impressum</a></p>
  </div>


</body>
</html>
