<!DOCTYPE html>
<html>
    <head>
    <link href="/quest_style.css" type="text/css" rel="stylesheet" />
    <link href="/navi.css" type="text/css" rel="stylesheet" />
    <title>Meine Webanwendung</title>
    </head>
<body>
<!-- Navigations Bar -->
  <div class="topnav">
    <a class="active" href="home">PAWPAL</a>
    <a href="#about">Overview Dog Breeds</a>
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
      </form>
    </div>
    <a href="#contact">Login|Sign Up</a>
   
  </div>

  <div class="grid-container">
    <!-- Titel Überschrift -->
    <div class="item1">
      <div class="center_container">
        <p> PAWPAL</p>
      </div>
    </div>
    <!-- Text -->
    <div class="item2">
        <a id="back_btn" href="home">Go Back</a>
        <div id="question_block">
            <p>
                Das könnte eine Frage sein ?
            </p>
            <img class="imgbeagle" src="/beagle_rechts.png" alt="Beagle bild">
            <form action="">
                
                <input type="radio" id="j" name="fav_language" value="ja">
                <input type="radio" id="n" name="fav_language" value="nein">
                <input type="radio" id="v" name="fav_language" value="vlt?">
            </form>
        </div>
      
    </div>
    <!-- Beagel Picture -->
    <div class="item3">
      
    </div>

    <div class="item3">
      <p>2023 |<a id="impressum_btn" href="impressum"> Impressum</a> | Terms of Service | Privacy Policy</p>
    </div>
   
  </div>



</body>
</html>
